<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Skemi Account Support</h3>
    <p>
      
    You have successfully requested a password reset for your Skemi account,
    
    your email is: <%= params[:user].email %>.<br>
    </p>

    <p>
     your token is: <%= @token %>
    </p>

    <p>
      To Reset your password, just follow this link: <%= @url %>.
    </p>

    <p>
      The link will automatically expire in 15 minutes.
    </p>

    <p>Thanks for choosing Skemi, schedule me.</p>
  </body>
</html>